body {
    background-color: gainsboro;
}

.table_top {
  border-top: 1px solid gainsboro !important;
  border-left: 1px solid gainsboro !important;
  border-right: 1px solid gainsboro !important;
}

.file_name {
  font-style: italic;
}

table, th, td {
    border: 1px dotted grey !important;
    border-collapse: collapse;
    text-align: center;
  }

table {
    border-spacing: 5px;
  }

th, td {
    padding: 5px;
  }

.diff_highlight {
  color: rgb(35, 153, 35) !important;
  font-weight: bold !important;
}