body {
    background-color: gainsboro;
}

.table_top {

  border-top: 1px solid gainsboro !important;
  border-left: 1px solid gainsboro !important;
  border-right: 1px solid gainsboro !important;
}

table, th, td {
    border: 1px dotted grey !important;
    border-collapse: collapse;
    text-align: center;
  }

table {
    border-spacing: 5px;
  }

th, td {
    padding: 5px;
  }

.unique_highlight {

  color: green !important;
  font-weight: bold !important;

}

.na_highlight {

  color: orange !important;
  font-weight: bold !important;

}


