body {
    background-color: gainsboro;
}

.table_top {
  border-top: 1px solid gainsboro !important;
  border-left: 1px solid gainsboro !important;
  border-right: 1px solid gainsboro !important;
}

.file_name {
  font-style: italic;
}

table, th, td {
    border: 1px dotted grey !important;
    border-collapse: collapse;
    text-align: center;
  }

table {
    border-spacing: 5px;
  }

th, td {
    padding: 5px;
  }

.diff_highlight_time {
  color: rgb(87, 89, 110) !important;
  font-size: 1rem;
  font-weight: bold !important;
}

.diff_highlight_greater {
  color: rgb(82, 117, 99) !important;
  font-size: 1rem;
  font-weight: bold !important;
}

.diff_highlight_less {
  color: rgb(135, 99, 136) !important;
  font-size: 1rem;
  font-weight: bold !important;
}

.odd { 

  background-color: #e6e5e3;

}

.fixed_height_row {

  height: 40px !important;

}

#ridge_plot_id {

  border: 1px dotted grey !important;
}

#xtab_plot_id {

  border: 1px dotted grey !important;
  overflow: hidden !important;
  height:602px !important;
  width:967px !important;
}